# Kotlin/Android Ignore Patterns
*.iml
*.aab
*.apk
*.dex
*.aar
.jar
.class
.gradle
/local.properties
/.idea/
/.cxx/
/externalNativeBuild/
/build
/gen/
/captures
keystore.jks
keystore.properties
fastlane/fastlane.json
fastlane/report.xml
.kotlin/
*.log
.env*
*.profraw
*.tmp
*.swp
.vscode/
Thumbs.db
.DS_Store
